.page-body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}
.list {
  margin: 0;
  margin-top: 25.5px;
}

.list-item {
  display: inline-block;
  text-transform: uppercase;
}
.list-link {
  color: #ff0000;
  text-decoration: none;
  font-size: 20px;
}
.item1 {
  margin-right: 72px;
}
.item2 {
  margin-right: 50px;
}
img {
  margin-top: 25.5px;
  max-width: 100%;
  height: auto;
}
.section-title {
  margin-top: 49px;
  color: #373737;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
}
.main-text {
  margin-left: 67.5px;
  margin-right: 67.5px;
  color: #373737;
  font-size: 16px;
  line-height: 26px;
}
.first-paragraph {
  margin-top: 38px;
}
.second-paragraph {
  margin-top: 28px;
}
.button {
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff0000;
  border-radius: 4px;
  padding: 18px 43.5px 17px 42.5px;
}
.page-nav {
  margin-top: 66px;
}
.copyright {
  color: #373737;
  font-size: 16px;
  line-height: 20px;
  text-align: end;
  padding: 82px 105px 29px;
}
